
h1{
  font-family: trebuchet,times,georgia,serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing:0.2em;
  color: rgb(22,49,224);
  background-color:white;
}

body.index_v1{
  background-color:#d0efff
}

h1.index_v1{
  font-family: trebuchet,serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing:0.2em;
  color: rgb(22,49,224);
  background-color:#d0efff;
  text-align:center;
}

h2{
  font-family: times,sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing:0.2em;
  color: rgb(22,49,224);
  background-color:white;
  text-align:center;
}

h2.index_v1{
  font-family: times,sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing:0.2em;
  margin-top:50px;
  color: rgb(22,49,224);
  background-color:#d0efff;
  text-align:center;
}

h3{
  font-family: georgia;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing:0.2em;
  color: rgb(22,49,224);
  background-color:white;
}

h4.index_v1{
  font-family:trebuchet;
  font-size:20px;
  text-align:center;
  margin-top: 100px;
}

h5.index_v1{
  font-family:trebuchet;
  font-size:12px;
  text-align:center;
}

article p{
  font-family: arial, verdana;
  font-size:12px;
  color:black;
  background-color:white;
  margin-top: 20px;
  }

p.index_v1{
  font-family: arial, verdana;
  font-size:15px;
  color:black;
  background-color:#d0efff;
  text-align:center;
  }

p.index_description_v1{
  text-align:center;
  font-size:20px;
  margin-top:50px;
}

.navbar{
  padding: 0;
  list-style-type: none;
  display:flex;
  height:50px;
  justify-content: center;
  background-color:#333;
  text-align:center;
}

.home{
  flex:1;
  padding-top:15px;
  margin-left:5%;
  margin-right:5%;
}

.places_to_go{
  flex:1;
  padding-top:15px;
  margin-left:auto;
  margin-left:5%;
  margin-right:5%;
}

.things_to_do{
  flex:1;
  padding-top:15px;
  margin-left:5%;
  margin-right:5%;
}

.about_yokohama{
  flex:1;
  padding-top:15px;
  margin-right:auto;
  margin-left:5%;
  margin-right:5%;
}

ul.index_v1{
  text-align:center;
  list-style-type: none;
}

li.index_v1{
  text-align:center;
}

ul.ptg_v1{
  list-style-type: none;
  text-align:center;
}

li.ptg_v1{
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

h1.ptg_v1{
  font-size:50px;
  text-align:center;
  margin-top:40px;
  background-color:#d0efff
}

h1.ptg_v1_minato_mirai{
  padding: 25px;
  border: 10px solid #2aeaff;
  margin: 100px;
  background-image:url("../image/aka_renga_contrast.jpg");
  background-repeat: no-repeat;
  text-align:right;
}

h1.ptg_v1_china_town{
  padding: 25px;
  border: 10px solid #2aeaff;
  margin: 100px;
  background-image:url("../image/ct_contrast.jpg");
  background-repeat: no-repeat;
  text-align:center;
  text-align:right;
}

h1.ptg_v1_ramen_museum{
  padding: 25px;
  border: 10px solid #2aeaff;
  margin: 100px;
  background-image:url("../image/rm_1_contrast.jpg");
  background-repeat: no-repeat;
  text-align:center;
  text-align:right;
}

body.ptg_v1{
  background-color:#d0efff
}

body.minato_mirai_v1{
  background-color:#d0efff
}

h1.minato_mirai_v1{
  font-family:times,serif;
  text-align:center;
  background-color:#d0efff
}

h2.minato_mirai_v1{
  font-family:times,serif;
  text-align:center;
  font-size: 30px;
  margin-top:30px;
  background-color:#d0efff
}

h3.minato_mirai_v1{
  text-align:center;
  margin-top:30px;
  background-color:#d0efff
}

p.center{
  text-align:center;
}

p.minato_mirai_v1_1{
  text-align:center;
  font:bold;
}

li.minato_mirai_v1{
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
  /*background-color:#d0efff*/
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figcaption_center{
  text-align:center;
}

body.china_town_v1{
  background-color:#d0efff
}

li.china_town_v1{
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}

h1.china_town_v1{
  text-align:center;
  margin-top:40px;
  word-spacing:0.3em;
  background-color:#d0efff
}

figure.china_town_v1{
  display: block;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body.ramen_museum_v1{
  background-color:#d0efff
}

li.ramen_museum_v1{
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}

h1.ramen_museum_v1{
  text-align:center;
  margin-top:40px;
  word-spacing:0.3em;
  background-color:#d0efff
}

figure.ramen_museum_v1{
  display: block;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body.things_to_do_v1{
  background-color:#d0efff
}

li.things_to_do_v1{
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}

h1.things_to_do_v1{
  text-align:center;
  margin-top:40px;
  word-spacing:0.3em;
  background-color:#d0efff
}

h4.things_to_do_v1{
  text-align:center;
  margin-top:40px;
  background-color:#d0efff
}

p.things_to_do_v1{
  margin-left: 30px;
  margin-right: 30px;
}

li.about_yokohama_v1{
  display: inline;
  /*margin-right: 30px;
  margin-left: 30px;*/
  text-align:center;
}

h1.about_yokohama_v1{
  text-align:center;
  margin-top:40px;
  background-color:#d0efff
}

body.about_yokohama_v1{
  background-color:#d0efff
}

p.about_yokohama_v1{
  margin-left: 30px;
  margin-right: 30px;
}

p.about_yokohama_2_v1{
  margin-top:40px;
  text-align:center;
}

a:link{
  color:#2185ff;
}

a:visited{
  color:#2185ff;
}

a:hover{
  color:pink;
}
